<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arcane_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Arcane_Launcher.Properties.Settings>
            <setting name="access_token" serializeAs="String">
                <value />
            </setting>
            <setting name="refresh_token" serializeAs="String">
                <value />
            </setting>
            <setting name="displayName" serializeAs="String">
                <value />
            </setting>
            <setting name="account_id" serializeAs="String">
                <value />
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Season" serializeAs="String">
                <value>0</value>
            </setting>
        </Arcane_Launcher.Properties.Settings>
    </userSettings>
</configuration>